body {
    background-color: whitesmoke;
    font-family:'Roboto',sans-serif;
}

.todo-list {
    background-color: white;
    font-family:'Roboto',sans-serif;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    box-shadow:
    /* The top layer shadow */
        0 1px 1px rgba(0,0,0,0.15),
            /* The second layer */
        0 10px 0 -5px #eee,
            /* The second layer shadow */
        0 10px 1px -4px rgba(0,0,0,0.15),
            /* The third layer */
        0 20px 0 -10px #eee,
            /* The third layer shadow */
        0 20px 1px -9px rgba(0,0,0,0.15);
    padding: 30px;
}

.todo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 0;
    width: 70%;
    border-bottom: 1px solid #cecece;
    font-family:'Roboto',sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #333333;
}

.b2{
    display: inline-block;
    padding:0.5em 3em;
    border:0.16em solid #000000;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:Roboto,sans-serif;
    font-weight:400;
    color:#000000;
    text-align:center;
    transition: all 0.15s;
}

.b2:hover{
    color:#efefef;
    background-color: #333333;
}

.b2:active{
    color:#efefef;
    background-color: #555555;
}

.toggle{
    display: block;
    width: 100%; 
    text-align: center;
}

.b1{
    width: 100%;
}

.b3{
    position: absolute; 
    right: 300px;
} 

input[type=checkbox] {
    margin-right: 10px;
    font-size: 30px;
}

input[type=checkbox]:focus {
    outline: 0;
}

input[type=text]{
    flex-grow: 1;
    border:0.16em solid #000000;
    color: #333333;
    font-size: 0.85em;
    font-family:'Roboto',sans-serif;
    line-height: 2em;
}
