*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #f6d365, #d88771);
    color:white;
    font-family: "Poopins",sans-serif;
    min-height: 100vh;
}

form{
    min-height: 3vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

form input, 
form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    font-family: "Poopins",sans-serif;
}

form button{
 color: #d88771;
 background: white;
 cursor: pointer;
 transition: all 0.3s ease;   
}

form button:hover{
    background: #d88771;
    color: white;
}

.trash-btn{
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.todo-item{
    padding:0rem 0.5rem;
}

.todo-list {
    font-family: "Poopins",sans-serif;
    background-color: white;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    box-shadow:
    /* The top layer shadow */
        0 1px 1px rgba(0,0,0,0.15),
            /* The second layer */
        0 10px 0 -5px #eee,
            /* The second layer shadow */
        0 10px 1px -4px rgba(0,0,0,0.15),
            /* The third layer */
        0 20px 0 -10px #eee,
            /* The third layer shadow */
        0 20px 1px -9px rgba(0,0,0,0.15);
    padding: 30px;
    justify-content: center;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px 0;
    width: 70%;
    border-bottom: 1px solid #cecece;
    font-family: "Poopins",sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: red;
}

button{
    font-family: "Poopins",sans-serif;
    color:#ff6f47;
    cursor: pointer;
    padding: 1rem;
}

button:after{
    position: absolute;
    background: #ff6f47;
    padding: 1rem;
}

input[type=checkbox] {
    margin-right: 10px;
    font-size: 30px;
}

input[type=checkbox]:focus {
    outline: 0;
}